/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import compass/reset
@import compass/css3

html, body
  background-color: red
  font-family: helvetica

body
  background-color: orange

#viewport
  position: fixed
  height: 100%
  width: 100%
  top: 0
  left: 0
  bottom: 0
  right: 0
  overflow: hidden
  
  background-color: purple

#debug-data, #menu
  z-index: 100
  position: fixed
  top: 0
  padding: 1em
  color: white
  
#debug-data
  right: 0
  white-space: pre
  font-size: 11px
  background-color: rgba(0,0,0,0.5)

#menu
  left: 20%
  background-color: black
  a
    color: white


#canvas
  position: absolute
  height: 1000%
  width: 1000%
  top: 0
  left: 0
  
  // height: 5500px
  // width: 4500px
  //top: -440px
  //left: -1200px

  +linear-gradient(color-stops(#ADD8E6, black), left top)
  
  .grid-block
    position: absolute
    border-top: 1px dotted grey
    border-left: 1px dotted grey
    color: grey
    font-size: 10px
  
  .page
    position: absolute
    height: 100px
    width: 100px
    border: 5px dotted black
    background: white
    +opacity(0.3)
  
  //-webkit-gradient(radial, 200 200, 0, 200 200, 100, color-stop(0%, red), color-stop(20%, yellow), color-stop(90%, blue), color-stop(100%, green))
  //+radial-gradient(color-stops(red, yellow 20%, blue 90%, green 100%), 200 200)
  //-webkit-gradient(radial, 200 200, 0, 200 200, 100, color-stop(0%, red), color-stop(20%, yellow), color-stop(90%, blue), color-stop(100%, green))

  //-webkit-gradient(radial, 200 200, 0, 200 200, 100, color-stop(0%, red), color-stop(20%, yellow), color-stop(90%, blue), color-stop(100%, green))